.c_logo{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110000;
}

header{
    background: #444;
    z-index: 10001
}
header>div{
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}
header ul li{
    float: left;;
    height: 50px;
    line-height: 50px
}
header ul li a{
    color: #cacaca;
    margin-right: 22px;
    font-size: 14px;
}

#c_dl a:nth-of-type(1){
    float: right;
    display:inline-block;
    line-height: 50px;
}
#c_dl a:nth-of-type(1){
    margin-right: 13px;
    color: #8d8d8d;
    font-size: 20px;
}
#c_dl{
    position: relative;
    float: right;
    line-height: 50px
}
#dl{
    float: right;
    margin-right: 13px;
    font-size: 12px;
    
}
#c_dl a:nth-of-type(4){
    position: absolute;
    top: 35px;
    right: 15px;
}


#n_dl a:nth-of-type(1){
    float: right;
    display:inline-block;
    line-height: 50px;
}
#n_dl a:nth-of-type(1){
    margin-right: 13px;
    color: #8d8d8d;
    font-size: 20px;
}
#n_dl{
    position: relative;
    float: right;
    line-height: 50px;
    display: none
}
#dl{
    float: right;
    margin-right: 13px;
    font-size: 12px;
    
}
#n_dl a:nth-of-type(4){
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 9909;
}
#sous2{
    float: right;
    margin-right: 13px;
    line-height: 50px;
    z-index: 1000;
    display: none
}



.nav{
    background: #333;

}
.c_nav{
    height: 70px;
    margin: 0 auto;
    width: 1200px;;
    line-height: 70px;
    position: relative;
}


.na_li{
    float: left;height: 70px; ;
}
.c_nav ul li a{
    margin-right: 22px;
    font-size: 16px;
    color: #fff;
}
.nav_ss{
    background: #747474;
    width: 270px;
    height: 36px;
    float: right;
    margin-right: 10px;
    margin-top:17px;
    box-sizing: border-box;
    padding: 0 20px;;
    line-height: 0;
}

.nav_ss input{
    height: 36px;
    width: 200px;
    color: #d3d3d3;
    line-height: 36px;
    border: 0;
    background: none
}
.nav_ss a{
    float: right;
    font-size: 18px;
    display: inline-block;
    line-height: 36px;
    color: #fff;
}

#c_ssk{
    width: 600px;
    background: white;
    padding: 0 30px;
    font-size: 16px;
    display: none;
    height: 36px;
    position: absolute;
    top: 5px;left: 25%;
}

#c_ssk input{
    line-height: 36px;
    width: 550px;
    height: 36px;
    border: 0;
    float: left;
    font-size: 20px
}
#c_ssk span{
    float: right;
    line-height: 36px;
    font-size: 16px;
    display: inline-block;
}

.c_ri{
    right: 30px;
    top: 190px;
    position: fixed;
    display: none
}
.ull{
    height: 400px;
}
.lli {
    width: 300px;
    position: relative;
    height: 55px;
}
.ull li:nth-of-type(6){
    height: 76px;
}
.lia {
    display: block;
    cursor: pointer;
    width: 47px;
    height: 55px;
    background: url(../../img/c_img/c_rig.png) no-repeat ;
    
    float: right;
}
.r_t {
    display: none;
    cursor: pointer;
    width: 195px;
    height: 52px;
    margin-right: 10px;
    background: url(../../img/c_img/c_rig.png) no-repeat ;
    background-position:-444px 0 ;
    float: right;
    opacity: 0;

}

.ull li:nth-of-type(1) .lia{
    background-position:-1308px -322px ;
}

.ull li:nth-of-type(2) .lia{
    background-position:-1308px -377px ;
}

.ull li:nth-of-type(3) .lia{
    background-position:-1308px -431px ;
}

.ull li:nth-of-type(4) .lia{
    background-position:-1308px -485px ;
}

.ull li:nth-of-type(5) .lia{
    background-position:-1308px -539px ;
}

.ull li:nth-of-type(6) .lia{
    background: url(../../img/c_img/c_rig2.jpg) no-repeat ;
    background-position:-17px -76px ;
    height: 76px;
}

.ull li:nth-of-type(1) .lia:hover{
    background-position:-1308px 0 ;
}
.ull li:nth-of-type(2) .lia:hover{
    background-position:-1308px -55px ;
}
.ull li:nth-of-type(3) .lia:hover{
    background-position:-1308px -109px ;
}
.ull li:nth-of-type(4) .lia:hover{
    background-position:-1308px -163px ;
}
.ull li:nth-of-type(5) .lia:hover{
    background-position:-1308px -218px ;
}
.ull li:nth-of-type(6) .lia:hover{
    background: url(../../img/c_img/c_rig2.jpg) no-repeat ;
    background-position:-90px -76px ;
    height: 76px;
}

.ull li:nth-of-type(1):hover .r_t{
    display: block
}
.ull li:nth-of-type(2):hover .r_t{
    display: block
}
.ull li:nth-of-type(3):hover .r_t{
    display: block
}
.ull li:nth-of-type(4):hover .r_t{
    display: block
}
.ull li:nth-of-type(5):hover .r_t{
    display: block
}
.ull li:nth-of-type(6):hover .r_t{
    display: block
}
.ull li:nth-of-type(1) .r_t:hover{
    background-position:-174px 0px ; 
}

.ull li:nth-of-type(2):hover .r_t{
    
}
.ull li:nth-of-type(2) .r_t:hover{
    background-position:-174px -51px ; 
}
.ull li:nth-of-type(3):hover .r_t{
    
}
.ull li:nth-of-type(3) .r_t:hover{
    background-position:-174px -102px ; 
}
.ull li:nth-of-type(4):hover .r_t{
    
}
.ull li:nth-of-type(4) .r_t:hover{
    background-position:-174px -153px ; 
}
.ull li:nth-of-type(5):hover .r_t{
    
}
.ull li:nth-of-type(5) .r_t:hover{
    background-position:-794px -159px ; 
}
.ull li:nth-of-type(6):hover .r_t{
    
}
.ull li:nth-of-type(6) .r_t:hover{
    background-position:-17px -181px ; 
}




.ull li:nth-of-type(1) .r_t{
    background-position:-444px 0px ;
}

.ull li:nth-of-type(2) .r_t{
    background-position:-444px -51px ;
}

.ull li:nth-of-type(3) .r_t{
    background-position:-444px -102px ;
}

.ull li:nth-of-type(4) .r_t{
    background-position:-444px -153px ;
}

.ull li:nth-of-type(5) .r_t{
    width: 232px;
    height: 97px;
    position: absolute;
    right: 48px;;
    background-position:-794px 0 ;
}

.ull li:nth-of-type(6) .r_t{
    background: url(../../img/c_img/c_rig2.jpg) no-repeat ;
    background-position:-17px -288px ;
    height: 76px;
}

.ull li:nth-of-type(7){
    width: 47px;
    height: 20px;
    float: right;
}

.ull li:nth-of-type(7) a{
    width: 47px;
    height: 20px;
    background-position: -1308px -592px
}
.ull li:nth-of-type(7):hover a {
    background-position: -1308px -270px
}

#mdj{
    position: fixed;;
    left: 5%;
    top: 300px;
    text-align: center;
    display: none
}


#mdj a{
    display: block;
    width: 36px;
    height: 32px;
    line-height: 16px;
    font-size: 12px;
    padding: 5px 0
}
#mdj a:nth-of-type(1){
    width: 35px
}
#mdj a:hover{
    color: pink
}


/* wang */

.register{
    font-size: 12px;
    
}
#c_dl span{
    color: #e1e1e1;
}
.login{
    right: 10px;
}
#c_dl a{
    margin: 0 5px
}

#n_dl a{
    margin: 0 5px
}